{:deps {org.clojure/clojure {:mvn/version "1.10.2"}
        notespace-sicmutils {:mvn/version "0.16.1"}
        sicmutils {:mvn/version "0.16.0"}
        aerial.hanami/aerial.hanami {:mvn/version "0.12.7"}
        scicloj/tablecloth {:mvn/version "5.00-beta-29.1"}}}
