{:deps {org.clojure/clojure {:mvn/version "1.10.2"}
        notespace-sicmutils {:mvn/version "0.16.3"}
        aerial.hanami/aerial.hanami {:mvn/version "0.12.7"}
        scicloj/tablecloth {:mvn/version "5.00-beta-29.1"}
        generateme/fastmath {:mvn/version "2.1.1"}}}
